.filter {
    display: grid;
    grid-template-columns: 30% auto 30%;
    background-color: $color-dark-2;
    color: $color-light-5;
    font-size: 0.8em;
    line-height: 1.2em;
    padding: 15px 0;
    .filter-items-left {
        grid-column: 1/2;
        margin-left: 10px;
        align-self: center;
    }
    .filter-select {
        grid-column: 2/3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-self: center;
        .filter-select-completed,
        .filter-select-all,
        .filter-select-active {
            background: none;
            color: $color-light-5;
            border: none;
            &:hover {
                border: none;
                color: $color-dark-4;
            }
        }
    }
    .filter-clear-completed {
        grid-column: 3/4;
        text-align: right;
        margin-right: 10px;
        align-self: center;
        background: none;
        color: $color-light-5;
        border: none;
        &:hover {
            border: none;
            color: $color-dark-4;
        }
    }
    .filter__active {
        color: $primary-1 !important;
    }
}