* {
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark_Gray: hsl(0, 0%, 55%);
  --Very_Dark_Gray: hsl(0, 0%, 41%);
}

body {
  font-family: "Alata", sans-serif;
}

.container {
  width: 100vw;
  max-width: 1440px;
}

.menu {
  height: 100vh;
  background-image: url("../images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.menu__logo {
  position: absolute;
  z-index: 2;
  top: 40px;
  left: 25px;
  width: 40%;
  max-width: 175px;
  height: 10%;
  fill: var(--White);
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.menu__btn {
  position: absolute;
  z-index: 2;
  top: 42px;
  right: 25px;
  width: 5%;
  max-width: 22px;
  height: 5%;
  fill: var(--White);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.menu__open {
  background-image: url("../images/icon-hamburger.svg");
}

.menu__close {
  background-image: url("../images/icon-close.svg");
}

.menu__nav {
  width: 100vw;
  height: 100vh;
  background-color: var(--Black);
  position: absolute;
  top: 0;
  left: -120vw;
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr 1fr;
  color: var(--White);
  z-index: 1;
}
.menu__nav ul {
  grid-row: 2/3;
  padding-inline-start: 30px;
}
.menu__nav ul li {
  font-family: "Josefin Sans", sans-serif;
  line-height: 2em;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.5em;
  list-style-type: none;
  letter-spacing: 0.1em;
}
.menu__nav ul li a {
  text-decoration: none;
  color: var(--White);
  cursor: pointer;
}
.menu__nav ul li a:hover {
  margin-left: 10px;
  transition: 0.2s ease-in-out;
}

.menu__slogan {
  width: 70%;
  max-width: 345px;
  color: var(--White);
  text-transform: uppercase;
  border: 2px solid var(--White);
  font-weight: 300;
  font-size: 2em;
  letter-spacing: 0.1em;
  padding: 20px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.1em;
}

.vr,
.creation {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.vr__img {
  width: 80%;
}

.vr__content,
.creation__title {
  width: 70%;
  padding-top: 30px;
  text-align: center;
}

.vr__content__title,
.creation__title {
  padding-top: 40px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1em;
  font-weight: 200;
  color: var(--Very_Dark_Gray);
}

.vr__content__description {
  padding-top: 20px;
  font-size: 0.9em;
  color: var(--Dark_Gray);
  line-height: 1.5em;
}

.creation__title {
  padding-bottom: 40px;
}

.creation__title__h3 {
  width: 120px;
  line-height: 1.2em;
  font-weight: lighter;
  padding-bottom: 1em;
  padding-left: 1em;
}

.creation__el {
  width: 80%;
  height: 6em;
  color: var(--White);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.deep-earth {
  background-image: url("../images/mobile/image-deep-earth.jpg");
}
.deep-earth h3 {
  width: 80px;
}

.night-arcarde {
  background-image: url("../images/mobile/image-night-arcade.jpg");
}

.soccer-team {
  background-image: url("../images/mobile/image-soccer-team.jpg");
}

.the-grid {
  background-image: url("../images/mobile/image-grid.jpg");
}
.the-grid h3 {
  width: 80px;
}

.from-up-above {
  background-image: url("../images/mobile/image-from-above.jpg");
}

.pocket-borealis {
  background-image: url("../images/mobile/image-pocket-borealis.jpg");
}

.the-curiosity {
  background-image: url("../images/mobile/image-curiosity.jpg");
}

.make-it-fisheye {
  background-image: url("../images/mobile/image-fisheye.jpg");
}

.creation__btn a {
  cursor: pointer;
  padding: 10px 40px;
  border: solid 2px var(--Very_Dark_Gray);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 20px;
  margin-bottom: 70px;
  font-size: 0.8em;
  text-decoration: none;
}
.creation__btn a:hover {
  background-color: var(--Black);
  color: var(--White);
}
.creation__btn:hover {
  background-color: var(--Black);
  color: var(--White);
}

.footer {
  width: 100vw;
  background-color: var(--Black);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-top: 30px;
}

.footer__logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 50px 20px 30px 20px;
  width: 130px;
  height: 1.5em;
}

.footer__nav {
  margin-bottom: 40px;
}
.footer__nav ul li {
  font-size: 0.8em;
  list-style-type: none;
  padding: 0.7em;
  text-align: center;
}
.footer__nav ul li a {
  text-decoration: none;
  color: var(--Dark_Gray);
  cursor: pointer;
}

.footer__social__logo {
  margin: 7px;
}

.footer__copyright {
  margin: 20px 20px 60px 20px;
  font-size: 0.8em;
  color: var(--Very_Dark_Gray);
}

@media screen and (min-width: 685px) {
  body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .menu {
    background-image: url("../images/desktop/image-hero.jpg");
    background-size: cover;
    max-height: 45vh;
  }

  .menu__btn {
    display: none;
  }

  .menu__logo {
    left: 10%;
  }

  .menu__nav {
    left: auto;
    width: auto;
    height: auto;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    right: 10%;
    top: 40px;
  }
  .menu__nav ul {
    display: flex;
    flex-direction: row;
  }
  .menu__nav ul li {
    text-transform: none;
    line-height: 1em;
    font-size: 1em;
    padding: 5px;
  }

  .menu__slogan {
    position: absolute;
    left: 10%;
    top: 130px;
  }

  .vr {
    position: relative;
    width: 100%;
    align-items: stretch;
    margin-left: 10%;
  }

  .vr__img {
    width: 55%;
    height: 70%;
  }

  .vr__content {
    width: 30%;
    position: absolute;
    bottom: 0;
    right: 20%;
    background-color: var(--White);
    padding: 20px;
  }

  .vr__content__title {
    padding: 0;
    width: 100%;
    font-size: 1em;
  }

  .vr__content__description {
    width: 100%;
    text-align: left;
    line-height: 1em;
  }

  .footer {
    width: auto;
    align-items: stretch;
    height: 80px;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 40px 10%;
  }

  .footer__logo {
    margin: 0;
    margin-top: 5px;
  }

  .footer__nav {
    margin: 15px 0 0;
    margin-left: -7px;
  }
  .footer__nav ul {
    display: flex;
    flex-direction: row;
  }
  .footer__nav ul li {
    text-align: left;
  }

  .footer__social {
    margin-left: 70px;
  }

  .footer__copyright {
    margin: 0;
  }
}
@media screen and (min-width: 950px) {
  .vr__content {
    padding: 30px 30px 20px 30px;
  }

  .vr__content__title {
    font-size: 1.2em;
  }

  .vr__content__description {
    line-height: 1em;
  }

  .night-arcarde {
    background-image: url("../images/desktop/image-night-arcade.jpg");
  }

  .soccer-team {
    background-image: url("../images/desktop/image-soccer-team.jpg");
  }

  .the-grid {
    background-image: url("../images/desktop/image-grid.jpg");
  }
  .the-grid h3 {
    width: 80px;
  }

  .from-up-above {
    background-image: url("../images/desktop/image-from-above.jpg");
  }

  .pocket-borealis {
    background-image: url("../images/desktop/image-pocket-borealis.jpg");
  }

  .the-curiosity {
    background-image: url("../images/desktop/image-curiosity.jpg");
  }

  .make-it-fisheye {
    background-image: url("../images/desktop/image-fisheye.jpg");
  }

  .creation {
    width: 80%;
    padding: 20px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  .creation__title {
    order: 1;
    text-align: left;
    margin-bottom: 30px;
    font-size: 2em;
  }

  .creation__el {
    width: 23%;
    height: 500px;
    order: 3;
    padding: 2px;
  }

  .creation__btn {
    order: 2;
    margin-bottom: 30px;
  }

  .deep-earth {
    background-image: url("../images/desktop/image-deep-earth.jpg");
  }
  .deep-earth h3 {
    width: 80px;
  }
}
@media screen and (min-width: 1050px) {
  .vr__content__title {
    font-size: 1.4em;
  }

  .vr__content__description {
    line-height: 1.2em;
  }
}
@media screen and (min-width: 1200px) {
  .vr__content {
    padding: 40px 40px 20px 40px;
  }

  .vr__content__title {
    font-size: 1.6em;
  }

  .vr__content__description {
    line-height: 1.5em;
  }
}
@media screen and (min-width: 1300px) {
  .vr__content__title {
    font-size: 2em;
  }

  .vr__content__description {
    line-height: 1.7em;
  }
}
@media screen and (min-width: 1400px) {
  .vr__content {
    padding: 60px 60px 20px 60px;
  }

  .vr__content__description {
    line-height: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
