* {
    padding: 0;
    margin: 0;
}

.myBtn {
    border-radius: 25px;
    padding: 10px 40px;
    cursor: pointer;
    text-align: center;
}

.myFlexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}