/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

button,
input,
select {
    margin: 0
}

html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

img,
video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}


/* Color */

:root {
    /*slide*/
    --full-slider-bar: hsl(174, 77%, 80%);
    --slider-bg: hsl(174, 86%, 45%);
    --empty-slider: hsl(224, 65%, 95%);
    /*btn*/
    --toggle-bg: hsl(223, 50%, 87%);
    --txt-and-tax: hsl(227, 35%, 25%);
    /*other*/
    --discount-bg: hsl(14, 92%, 95%);
    --discount-txt: hsl(15, 100%, 70%);
    --tax: hsl(226, 100%, 87%);
    --price-component-bg: hsl(0, 0%, 100%);
    --main-bg: hsl(230, 100%, 99%);
    --text: hsl(225, 20%, 60%);
}


/* Start here */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    background-color: var(--main-bg);
    color: var(--text);
    background-image: url(./images/bg-pattern.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-y: -35%;
}

.top {
    background-image: url(./images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: 55%;
    background-position-x: center;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 1.2em;
    color: var(--txt-and-tax);
    font-weight: 800;
}

h2 {
    margin-top: 1.2em;
    font-size: 0.8em;
    text-align: center;
    line-height: 1.6em;
    font-weight: 600;
    width: 170px;
}

.cart {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 80%;
    z-index: 2;
    background-color: var(--price-component-bg);
    opacity: 1;
    border-radius: 15px;
    background-image: var(--price-component-bg), url(./images/bg-pattern.svg);
}

.cart h3,
.cart div,
.cart button {
    margin-bottom: 30px;
}

.cart__top {
    display: block;
    padding-top: 30px !important;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 800;
    letter-spacing: 0.2em;
    padding-bottom: 15px;
}

.cart__slide {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.cart__slide--slider {
    -webkit-appearance: none;
    width: 80%;
    height: 0.5em;
    background: linear-gradient(90deg, var(--full-slider-bar)50%, var(--empty-slider)50%);
    border-radius: 5px;
}

.cart__slide--slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: url(./images/icon-slider.svg) no-repeat center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--slider-bg);
    cursor: pointer;
    box-shadow: 0px 15px 40px var(--slider-bg);
}

.cart__slide--slider::-ms-thumb {
    -moz-appearance: none;
    background: url(./images/icon-slider.svg) no-repeat;
    background-color: var(--slider-bg);
    cursor: pointer;
    height: 15px;
    width: 15px;
}

.cart__price {
    font-size: 0.8em;
}

.cart__price--amount {
    font-size: 2em;
    color: var(--txt-and-tax);
    font-weight: 800;
}

.dollar {
    font-size: 2em;
    color: var(--txt-and-tax);
    font-weight: 800;
}

.cart__option {
    font-size: 0.6em;
    letter-spacing: 0.05em;
    padding-bottom: 5px;
}

.cart__option--toggle {
    position: relative;
    display: inline-block;
    border-radius: 15px;
    width: 35px;
    height: 20px;
    background-color: var(--toggle-bg);
    margin: 0 15px;
    margin-bottom: -6px;
    cursor: pointer;
}

.cart__option--circle {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: var(--price-component-bg);
    margin-top: 2.5px;
    margin-left: 2px;
}

.cart__option__discount {
    background-color: var(--discount-bg);
    color: var(--discount-txt);
    content: "-25%";
    border-radius: 15px;
    padding: 5px;
}

.cart__option__discount--hide {
    background-color: var(--discount-bg);
    color: var(--discount-txt);
    content: "-25%";
    border-radius: 15px;
    padding: 5px;
    display: none;
}

.cart__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-top: solid 1px var(--empty-slider);
}

.cart__txt {
    padding-top: 20px;
    font-size: 0.7em;
    letter-spacing: 0.05em;
    line-height: 2em;
    text-align: center;
}

.cart__txt svg {
    margin-right: 10px;
}

.cart__btn {
    background-color: var(--txt-and-tax);
    color: var(--text);
    font-weight: 600;
}


/* Code above == mobile first */


/* code below == responsive */

@media(min-height:695px) {
    .container {
        height: 695px;
    }
}

@media(min-width:660px) {
    h1 {
        font-size: 1.3em;
    }
    h2 {
        width: 100%;
    }
    .cart {
        padding-top: 25px;
        width: 500px;
        flex-direction: row;
        align-content: center;
        align-items: stretch;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .cart__top {
        order: 1;
        align-self: flex-start;
        padding: 30px 0 0;
    }
    .cart__slide {
        width: 100%;
        order: 3;
        flex-grow: 2;
    }
    .cart__price {
        padding: 30px 0 0;
        margin-top: -12px;
        order: 2;
    }
    .cart__option {
        order: 4;
    }
    .cart__box {
        width: 100%;
        padding-top: 25px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        order: 5;
    }
    .cart__txt {
        text-align: left;
        margin: 0;
        padding: 0;
    }
    .cart__btn {
        margin: 0;
        padding: 0;
    }
    .cart__option__discount--hide {
        display: inline;
        margin-left: -37px;
    }
}